main {
	display: grid;
	grid-template: auto auto auto/ 1fr 1fr;
	grid-template-areas: "upload upload" "link link" "status status" "btnLeft btnRight";
	gap: 10px;
}

.upload {
	grid-area: upload;
}

#urlForm {
	display: flex;
	grid-area: link;
	gap: 5px;
}

.link {
	flex-grow: 1;
}

.statusBar {
	grid-area: status;
	background-color: lightgray;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	margin: 0;
	font-family: sans-serif;
}

.btnLeft {
	grid-area: btnLeft;
}

.btnRight {
	grid-area: btnRight;
}
