main {
	display: grid;
	grid-template: auto auto auto/ 1fr 1fr;
	grid-template-areas: "btnTemplate btnCoords" "upload upload" "link link" "status status" "btnLeft btnRight";
	gap: 10px;
}

.upload {
	grid-area: upload;
}

#urlForm {
	display: flex;
	grid-area: link;
	gap: 5px;
}

.link {
	flex-grow: 1;
}

.coords {
	flex-shrink: 1;
	flex-direction: row;
}

.statusBar {
	grid-area: status;
	background-color: lightgray;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	margin: 0;
	font-family: sans-serif;
}

.btnLeft {
	grid-area: btnLeft;
}

.btnRight {
	grid-area: btnRight;
}

dialog {
	background-color: rgba(200, 200, 200, 0.5);
	backdrop-filter: blur(10px);
	border-radius: 5px;
	border: none;
	padding: 10px;
}

dialog ul {
	list-style: none;
}

dialog li {
	display: flex;
	justify-content: space-between;
}

dialog>ul>ul {
	border-radius: 5px;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.5);
	margin-bottom: 5px;
}

dialog>ul {
	padding: 10px;
}